@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #F3F5FC;
    --color-secundaria: #0f0808;
    --color-terciaria: #0A3871;
    --color-cuarta: #D8DFE8;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}
* {
    padding: 10;
    margin:10;
}
body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}


.presentacion {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    
}

.presentacion__instruccion{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 500px;
}
.presentacion__resultado{
    width: 800px;
    display: flex;
    align-items: center;
    padding-top: 2rem;
}


.presentacion__botones{
    width: 615px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.presentacion__boton1{
    border: var(--color-terciaria) 1px solid;
    background-color: var(--color-terciaria);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-cuarta);
    font-family: 'Montserrat', sans-serif;
}
.presentacion__boton2{
    border: var(--color-terciaria) 1px solid;
    background-color: var(--color-cuarta);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-terciaria);
    font-family: 'Montserrat', sans-serif;

}

.instrucciones{
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 0.7rem;
   
}

/* Estilo input ingreso de texto a encriptar o desencriptar*/
.palabrac{
    padding: 2% 1% 1% 2%;
    display: flex;
    width: 577px;
    height: 48px;
    background: inherit;
    background-color:transparent;
    border: 0;
    color: var(--color-terciaria);
    text-decoration: none;
    font-size: 1.5em;
    background-position: center;
    }
    .palabrac::placeholder {
        color:var(--color-terciaria);;
       }   
    .palabrac::-webkit-input-placeholder {
         color: var(--color-terciaria);;
       }
    .palabrac::-moz-placeholder {
         color: var(--color-terciaria);;
       }
    .palabrac:-ms-input-placeholder {
         color: var(--color-terciaria);;
       }
    .palabrac:-moz-placeholder {
         color: var(--color-terciaria);;
       }
    .palabrac:focus{
        border: 0;
        outline: none;
        color: var(--color-terciaria);
        text-decoration: none;
    }

    .palabracd{
        display: flex;
        width: 400px;
        height: 900px;
        border: 0;
        color: var(--color-secundaria);
        text-decoration: none;
        font-size: 1.5em;
        text-align: center;
        border-radius: 25px;
        background-color: #ffffff;
        background-image: url("../Imagen/Munieco.png");
        background-repeat: no-repeat;
        background-position: center;
        resize: none;
        }

    .footer{
        color:var(--color-primaria);
        background-color: var(--color-terciaria);
        padding: 24px;
        text-align: center;
        font-family: var(--fuente-krona);
        font-size: 1.5rem;
        font-weight: 400;
    }
    @media (max-width: 1200px) {

        .header{
             padding: 10%;  
        }
        .header__menu{
            justify-content: center;
        }
        .presentacion{
           
            padding: 15%;
            justify-content: flex-start;
            flex-direction: column;
    
        }
    
        .presentacion__instruccion{
            width: auto;
            justify-content: center;
            flex-direction: column;
        }
        .presentacion__resultado{
            width: auto;
            justify-content: center;
        }
        .presentacion__botones{
            width: auto;
            justify-content: center;
   
        }
        .palabracd{
            display: flex;
            width: 600px;
            height: 250px;
            border: 0;
            color: var(--color-secundaria);
            text-decoration: none;
            font-size: 1.5em;
            border-radius: 25px;
            background-color: #ffffff;
            background-image: none;
            background-repeat: no-repeat;
            resize: none;
            }
        
    }
    @media (max-width: 800px) {
        .header{
            padding: 10%;  
       }
       .presentacion{
          
           padding: 15%;
           align-items: center;
           flex-direction: column;
   
       }
   
       .presentacion__instruccion{
           width: auto;
           justify-content: center;
           flex-direction: column;
           gap: 150px;
       }
       .presentacion__resultado{
           width: auto;
           justify-content: center;
       }
       .presentacion__botones{
           width: auto;
           justify-content: center;
           flex-direction: column;
       }
       .palabracd{
        display: flex;
        width: 350px;
        height: 200px;
        border: 0;
        color: var(--color-secundaria);
        text-decoration: none;
        font-size: 1.5em;
        border-radius: 25px;
        background-color: #ffffff;
        background-image: none;
        background-repeat: no-repeat;
        resize: none;
        }
        .presentacion__instruccion{
            width: 600px;
            display: flex;
            align-items: center;
            flex-direction: column;
 
        }
        .palabrac{
    padding: 2% 1% 1% 2%;
    display: flex;
    width: 277px;
    height: 48px;
    background: inherit;
    background-color:transparent;
    border: 0;
    color: var(--color-terciaria);
    text-decoration: none;
    font-size: 1.5em;
    }
    }